@import '/src/styles.scss';

.home-cards-container {
  position: absolute;
  display: flex;
  left: 28px;
  top: 752px;
  gap: 24px;
}

.home-card {
  width: 224px;
  height: 304px;

  background: $white;
  box-shadow: 4px -4px 16px rgba(0, 0, 0, 0.16) !important;
  border-radius: 4px 4px 0px 0px;
  top: 0;
  transition: top ease .5s;
}

.home-card:hover {
  top: -32px;

}

::ng-deep .mat-card-header-text {
  margin-left: 0px !important;
  margin-top: 8px !important;
}

.card-name {
  height: 16px;
  width: 192px;
  left: 8px;
  top: 32px;

  color: $black;
}

mat-card-actions {
  height: 24px;
  width: 24px;
  right: 16px;
  top: -24px;
  border-radius: 0px;
  padding: 0;

  button {
    background-color: $white !important;
  }

  & mat-icon {
    color: $gray;
  }
}

.mat-card-image {
  width: 100%;
  margin-inline: auto;
}
