<div>
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title class="card-name">Trip to the island</mat-card-title>
      <mat-card-actions>
        <button mat-mini-fab class="options-button mat-elevation-z0">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      <p>
        Noord, Aruba
      </p>
      <p>
        4/21/12
      </p>
      <img mat-card-image src="assets\home-card-photo.png" alt="Trip to the island photo">
    </mat-card-content>
  </mat-card>
</div>
