<body>
  <h2>TripTrap</h2>
  <h1>Adventure starts with TripTrap</h1>
  <button mat-flat-button class="login-google-button">Log in with Google</button>
  <button mat-flat-button class="login-facebook-button">Log in with Facebook</button>
  <p class="or">or</p>
  <input matInput placeholder="Email or username" class="login-input">
  <input matInput placeholder="Password" type="password" class="login-password">
  <mat-checkbox class="remember-me-checkbox">Remember me</mat-checkbox>
  <button mat-flat-button class="login-button">Log in</button>
  <a href="" class="forgot-password-link">Forgot password?</a>
  <p class="new-in-triptrap">New in TripTrap?</p>
  <a href="" class="create-account-link">Create account</a>
</body>
