<mat-slider aria-label="unit(s)" class="primary"></mat-slider>
<div class="card-container">
  <p class="date">9 June, 2021</p>
  <mat-card class="place-card">
    <mat-card-header>
      <mat-card-title class="card-name">Opera and Ballet Theater</mat-card-title>
      <p class="location">
        Lviv, Svobody Avenue, 28
      </p>
      <p class="time">
        14:58
      </p>
      <div class="subtitle-div">
        <p>
          Travel is one of most people's favorite activities. Why do so many people like to travel so much? It's simple, when a person travels, he gets to know the world around him and himself...
        </p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <button mat-mini-fab class="options-button mat-elevation-z0">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="photo-group">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
      </div>
      <mat-card-actions>
        <div class="actions-bg">
          <button mat-button class="comment-button mat-elevation-z0">
            <p>12
              <mat-icon>comment</mat-icon>
            </p>
          </button>
          <button mat-button class="favorite-button mat-elevation-z0">
            <p>45
              <mat-icon>favorite</mat-icon>
            </p>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
  <mat-card class="place-card">
    <mat-card-header>
      <mat-card-title class="card-name">Opera and Ballet Theater</mat-card-title>
      <p class="location">
        Lviv, Svobody Avenue, 28
      </p>
      <p class="time">
        14:58
      </p>
      <div class="subtitle-div">
        <p>
          Travel is one of most people's favorite activities. Why do so many people like to travel so much? It's simple, when a person travels, he gets to know the world around him and himself...
        </p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <button mat-mini-fab class="options-button mat-elevation-z0">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="photo-group">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
      </div>
      <mat-card-actions>
        <div class="actions-bg">
          <button mat-button class="comment-button mat-elevation-z0">
            <p>12
              <mat-icon>comment</mat-icon>
            </p>
          </button>
          <button mat-button class="favorite-button mat-elevation-z0">
            <p>45
              <mat-icon>favorite</mat-icon>
            </p>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
  <p class="date">10 June, 2021</p>
  <mat-card class="place-card">
    <mat-card-header>
      <mat-card-title class="card-name">Opera and Ballet Theater</mat-card-title>
      <p class="location">
        Lviv, Svobody Avenue, 28
      </p>
      <p class="time">
        14:58
      </p>
      <div class="subtitle-div">
        <p>
          Travel is one of most people's favorite activities. Why do so many people like to travel so much? It's simple, when a person travels, he gets to know the world around him and himself...
        </p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <button mat-mini-fab class="options-button mat-elevation-z0">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="photo-group">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
        <img src="assets/place-photo.png">
      </div>
      <mat-card-actions>
        <div class="actions-bg">
          <button mat-button class="comment-button mat-elevation-z0">
            <p>12
              <mat-icon>comment</mat-icon>
            </p>
          </button>
          <button mat-button class="favorite-button mat-elevation-z0">
            <p>45
              <mat-icon>favorite</mat-icon>
            </p>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
  </div>
