@import '/src/styles.scss';

.trips-group {
  position: relative;
  display: flex;
  top: 72px;
  background-color: $white;
  width: 392px;
  height: 952px;
  box-shadow: 8px 0px 16px rgba(78, 75, 85, 0.08);

}

.user-photo {
   width: 64px;
   height: 64px;
   margin-left: 124px;
}

user-card-header {
  margin-top: 24px !important;
}

mat-card-actions {
  margin-left: 116px;
  padding: 0 0;
}

mat-card-content {
  text-align: center;
}

mat-card-title {
  color: $black;
}

.bio {
  color: $gray;
  padding-inline: 40px;
  margin-top: 24px;
}
