<div class="card-container" *ngFor="let card of TripCards">
<mat-card class="trip-card">
  <mat-card-header>
    <mat-card-title class="card-name">{{card.name}}</mat-card-title>
    <p class="date">
      {{card.date}}
    </p>
  </mat-card-header>
  <mat-card-actions>
    <div class="actions-bg">
      <button mat-button class="place-button mat-elevation-z0">
        <p>14
          <mat-icon>place</mat-icon>
        </p>
      </button>
      <button mat-button class="comment-button mat-elevation-z0">
        <p>12
          <mat-icon>comment</mat-icon>
        </p>
      </button>
      <button mat-button class="favorite-button mat-elevation-z0">
        <p>45
          <mat-icon>favorite</mat-icon>
        </p>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
</div>
