.illustration1 {
  position: absolute;
  top: 15.04%;
  bottom: 34.18%;
  height: 519.999755859375px;
  width: 544px;
  left: 688px;
  top: 154px;
  margin-right: 208px;
}

.explore-text {
  position: absolute;
  width: 424px;
  height: 86px;
  left: 748px;
  top: 754px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: 1;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  display: flex;
  align-items: center;
  text-align: center;

  /* grey */

  color: #4E4B55;
  }
