<header>
  <div>
    <img src="assets\Logo.png" alt="" class="logo">
    <h2>TripTrap</h2>
  </div>
  <nav>
    <div>
      <a href="" class="nav-item active" id="map">Map</a>
    </div>
    <div>
      <a href="" class="nav-item" id="my-trips">My trips</a>
    </div>
    <div>
      <a href="" class="nav-item" id="planning">Planning</a>
    </div>
    <div>
      <a href="" class="nav-item" id="community">Community</a>
    </div>
  </nav>
  <div>
    <button mat-mini-fab class="search-button mat-elevation-z0">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="filter-button mat-elevation-z0">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-mini-fab class="notifications-button mat-elevation-z0">
      <mat-icon matbadge="3" class="mat-icon mat-badge material-icons-outlined material-icons mat-icon-no-color mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium">
        notifications
        <span id="mat-badge-content-0" class="mat-badge-content mat-badge-active">
          3
        </span>
      </mat-icon>
    </button>
    <button mat-mini-fab class="account-button mat-elevation-z0">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</header>
