@import '/src/styles.scss';

header {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background-color: $white;
  box-shadow: 0px 8px 16px rgba(78, 75, 85, 0.08);
}

.logo {
  position: absolute;
  bottom: 93.75%;
  height: 40px;
  width: 40px;
  left: 24px;
  top: 16px;

  border-radius: 0px;
}

h2 {
  position: absolute;
  height: 24px;
  width: 102px;
  left: 64px;
  top: 28px;

  border-radius: 0px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 85%;
  /* or 20px */

  color: $primary;
}

nav {
  width: 416px;
  height: 72px;
  left: 512px;
  top: 0px;
}

.nav-item {
  text-decoration: none !important;

  position: absolute;
  height: 72px;
  width: 104px;
  top: 0%;
  bottom: 0%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  transition: all .5s ease;

  color: $black;

  &#map {
    left: 35.56%;
    right: 57.22%;
  }
  &#my-trips {
    left: 42.78%;
    right: 50%;
  }
  &#planning {
    left: 50%;
    right: 42.78%;
  }
  &#community {
    left: 57.22%;
    right: 35.56%;
  }

  &:hover {
    font-size: 20px;
  }
  &.active {
    //color: $primary;
    height: 68px;
    border-bottom: 4px solid $primary;
  }
}
