$primary: #5EC784;

body {
  position: absolute;
  width: 480px;
  height: 1024px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  bottom: 93.75%;
  height: 40px;
  width: 40px;
  left: 161px;
  top: 24px;
  border-radius: 0px;
}

h2 {
  position: absolute;
  height: 24px;
  width: 102px;
  left: 203px;
  top: 36px;
  border-radius: 0px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 85%;
  /* or 20px */

  color: $primary;
}

h1 {
  position: absolute;
  width: 380px;
  height: 88px;
  left: 46px;
  top: 112px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  display: flex;
  align-items: center;
  text-align: center;

  /* grey */

  color: #4E4B55;
}

button {
  position: absolute;
  width: 380px;
  height: 40px;
  left: 46px;
  border-radius: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #FFFEFA;

  &.login-google-button {
    top: 256px;
    background: #4286F5;
  }

  &.login-facebook-button {
    top: 320px;
    background: #3B5999;
  }
}

.or {
  position: absolute;
  width: 13.33px;
  height: 16px;
  left: 229.33px;
  top: 392px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(44, 43, 47, 0.56);
}

input {
  position: absolute;
  width: 380px;
  height: 40px;
  left: 46px;
  padding-left: 16px;

  /* grey stroke */

  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;

  &.email-input{

    top: 440px;
  }

  &.username-input{
    top: 504px;
  }

  &.password-input{
    top: 568px;
  }

  &.confirm-password-input{
    top: 632px;
  }

  &.city-input{
    top: 696px;
  }
}

.signup-button {
  position: absolute;
  width: 380px;
  height: 40px;
  left: 46px;
  top: 760px;
  background-color: $primary;
}

.login-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* Blue 2 */
  position: absolute;
  color: #2D9CDB;
  width: 114px;
  height: 18px;
  left: 275px;
  top: 955px;

  margin-bottom: 56px;
}

.already-in-triptrap {
  position: absolute;
  width: 123px;
  height: 18px;
  left: 148px;
  top: 955px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  /* icon/grey */

  color: rgba(44, 43, 47, 0.37);
}
