@import '/src/styles.scss';

.my-trips-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  min-width: 1000px;

  background: #F7F7F7;
}

button {
  position: fixed !important;
  z-index: 3;
  top: 85vh;
  right: 5vw;
}

mat-icon {
  color: $white;
}

app-trip-content-section {
  display: flex;
  flex-direction: column;
  width: calc( 98vw - 432px);
  min-width: 550px;
}
